---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Info</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }} assets/img/home.jpg" alt=" ">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
    <p>
      Boston University      2013 - 2016
      <br>School of Visual Arts  2016 - 2019
      <br>Mercy College          2021 - 2023
    <p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Experciences</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
